setuptools>=60.0  # Ensures modern version with distutils support
wheel  # Helps ensure packages like numpy are installed from wheels instead of being built from source
streamlit==1.26.0
numpy==1.21.0  # Use an older, more stable version
pandas==1.5.3
plotly==5.13.1
entropyhub==2.0

